/* Css reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    ontline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

/* Css variáveis */

:root {
    --bg-color: rgb(59, 103, 144);
    --second-bg-color: rgb(35, 72, 106);
    --base-bg-color: rgb(76, 123, 139);
    --text-color: rgb(255, 255, 255);
    --main-color: rgb(239, 176, 54);
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

span {
    color: var(--main-color)
}

.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 25rem;
    height: 5rem;
    background: var(--main-color);
    border: .2rem solid var(--main-color);
    border-radius: 3.5rem;
    font-size: 2rem;
    color: var(--text-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: transform 0.7s ease-in-out;
    cursor: pointer;
}

.btn:hover {
    transform: scale(1.1);
}

.btn a{
    text-decoration: none;
    color: var(--text-color)
}

/* Estilo da barra de navegação */

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--second-bg-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
}

.logo {
    font-family: 'Poppins', sans-serif;
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 900;
    cursor: default;
}

.navbar {
    margin-left: auto; /* Move os links para a direita */
    display: flex;
    gap: 2rem; /* Espaço entre os links */
}

.navbar a {
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 4rem;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active{
    color: var(--main-color)
}

#menu-icon{
    font-size: 3.6rem;
    color: var(--text-color);
    display: none
}

/* Estilo da sessão home */

.home {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-content h3 {
    font-size: 3.2rem;
    font-weight: 700;
}

.home-content h1 {
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-content p {
    font-size: 1.6rem;
}

.home-content {
    margin-right: 3rem;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;
}

.social-media a:hover{
    background: var(--main-color);
    color: var(--second-bg-color);
}

.home-img img {
    width: 450px;
    height: 450px;
    border-radius: 50%;
    object-fit: cover;
}

/* Estilo da sessão sobre */

.about {
    background: var(--second-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.heading {
    text-align: center;
    font-size: 4.5rem;
}

.about-content h2{
    text-align: left;
    line-height: 1.2
}

.about-content h3{
    font-size: 2.6rem;
}

.about-content p{
    font-size: 1.6rem;
    margin: 2rem 0 2rem;
}

/* Estilo da sessão de Serviços */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}


.services h2 {
    margin-bottom: 5rem;
    margin-top: 10rem;
}

.services-container {
    display: flex;
    justify-container: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.services-container .services-box {
    flex: 1 1 30rem;
    background: var(--second-bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;

}

.services-box i {
    font-size: 7rem;
    color: var(--main-color)
}

.services-box h3 {
    font-size: 2.6rem
}

.services-box p {
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
}

.btn-service {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 5rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 3.5rem;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;
}

.btn-service:hover{
    background: var(--main-color);
    color: var(--second-bg-color);
}

/* Estilo da sessão de produtos */
.product {
    background: var(--second-bg-color)
}

.product-container {
    display: block;
    justify-container: center;
    align-items: center;
    gap: 2rem;
}

.product-container p {
    text-align: center;
    margin-top: 3.5rem;
    font-size: 3rem;
}

.product-container h2 {
    margin-top: 10rem;
}

/* Estilo da sessão de contato */

.contact h2 {
    margin-bottom: 3rem;
}

.contact form {
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact form .input-box {
    display: flex;
    justify-contact: space-between;
    flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--second-bg-color);
    border-radius: .8rem;
    margin: .7rem 0;
}

.contact form textarea {
    resize: none;
}

.contact form .btn {
    margin-top: 2rem;
}

/* Estilo do footer */

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--second-bg-color);
}

.footer-text p {
    font-size: 1.6rem;
}

.footer-iconTop a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: transparent;
    border-radius: .8rem;
    transition: transform 0.7s ease-in-out;
}

.footer-iconTop a:hover{
    transform: scale(1.1)
}

.footer-iconTop a i{
    font-size: 3.4rem;
    color: var(--main-color);
}